@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');
.login-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    
}


.login-card {
    background: #FAFAFA;
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 400px;
    color: #ffffff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
    border: 1px solid #2c2c2e;
    box-sizing: border-box;
}

.login-title {
    margin-bottom: 24px;
    text-align: center;
    color:#E84D0E ;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.error-message {
    color:#E84D0E ;
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
    background: rgba(255, 69, 58, 0.1);
    padding: 10px;
    border-radius: 6px;
    border: 1px solid rgba(255, 69, 58, 0.2);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #aeaeae;
}

.form-input {
    width: 100%;
    padding: 12px;
    background: white;
    border: 1px solid #3a3a3c;
    color: black;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 15px;
    transition: border-color 0.2s, box-shadow 0.2s;
    text-decoration-color: #000000;
}

.form-input:focus {
    outline: none;
    border-color: #E84D0E;
    box-shadow: 0 0 0 2px rgba(212, 175, 55, 0.2);
}

/* Gold button with elegant hover and disabled transitions */
.submit-btn {
    width: 100%;
    padding: 14px;
    background-color: white;
    border: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.2s, transform 0.1s;
    margin-top: 10px;
     box-shadow: 0 0 0 2px rgba(212, 175, 55, 0.2);
     border: 1px solid #3a3a3c;
}

.submit-btn:hover:not(:disabled) {
    background-color: #E84D0E;
}

.submit-btn:active:not(:disabled) {
    transform: scale(0.98);
}

.submit-btn:disabled {
    background-color: black;
    color: black;
    cursor: not-allowed;
}